aaa/HelloWorldService/SOA/Schemas/HelloWorldBPELProcess.xsd

<schema attributeFormDefault="unqualified" elementFormDefault="qualified"
        targetNamespace="http://xmlns.oracle.com/HelloWorldApplication/HelloWorldService/HelloWorldBPELProcess"
        xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="process">
    <complexType>
      <sequence>
        <element name="input" type="string"/>
        <element name="input1" type="string"/>
        <element name="action" type="string"/>
      </sequence>
    </complexType>
  </element>
  <element name="processResponse">
    <complexType>
      <sequence>
        <element name="result" type="string"/>
        <element name="result1" type="string"/>
      </sequence>
    </complexType>
  </element>
</schema>